DosBox Manager/obj/*
DosBox Manager/obj/Debug/*
DosBox Manager/obj/Release/*
DosBox Manager/bin/*
DosBox Manager/bin/Debug/*
DosBox Manager/bin/Release/*
GUI/obj/*
GUI/obj/Debug/*
GUI/obj/Release/*
GUI/bin/*
GUI/bin/Debug/*
GUI/bin/Release/*
Helpers/obj/*
Helpers/obj/Debug/*
Helpers/obj/Release/*
Helpers/bin/*
Helpers/bin/Debug/*
Helpers/bin/Release/*
DosBox Manager/bin/Debug/settings.dbm
CustomMessageBoxes/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CustomMessageBoxes/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CustomMessageBoxes/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CustomMessageBoxes/obj/Debug/GUI.Properties.Resources.resources
CustomMessageBoxes/obj/Debug/CustomMessageBoxes.MessageBoxes.CustomMessageBox.resources
CustomMessageBoxes/obj/Debug/CustomMessageBoxes.csproj.FileListAbsolute.txt
DosBox Manager.v12.suo
CustomMessageBoxes/bin/Debug/CustomMessageBoxes.dll
CustomMessageBoxes/bin/Debug/CustomMessageBoxes.pdb
CustomMessageBoxes/obj/Debug/CustomMessageBoxes.csproj.GenerateResource.Cache
CustomMessageBoxes/obj/Debug/CustomMessageBoxes.dll
CustomMessageBoxes/obj/Debug/CustomMessageBoxes.pdb
CustomMessageBoxes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DosBox Manager.v12.suo